<!DOCTYPE html>
<html>
    <head>
        <title>LabelFuse</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/uikit.min.css') }}"/>
        <script src="{{ url_for('static', path='/js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', path='js/uikit-icons.min.js') }}"></script>
    </head>

    <body style="background-color:#2a354f">

<div class="uk-section uk-section-muted-secondary uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>

    <div class="uk-width-1-1">

        <div class="uk-container">

            <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>

                <div class="uk-width-1-1@m">

            <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body">

                        <h3 class="uk-card-title uk-text-center">Request password</h3>
                          <div class="uk-text-small uk-text-center">
                            Remembered password  ? |  <a href="{{ url_for('login') }}">Sign in account here </a>
                            </div>
                         
                          <hr class="uk-divider-icon">



                        <form action="">
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input class="uk-input uk-form-large" type="text" placeholder="Company email">
                                </div>
                            </div>
                         
                            <div class="uk-margin">
                                <button class="uk-button uk-button-secondary uk-button-large uk-width-1-1">Request password</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    </body>
</html>
